{% extends 'base.html.twig' %}

{% block body %}
    {% include 'common/header.html.twig' %}
    <div class="content">
        <h1 class="content-header">{{ header }}</h1>
        <table>
            <tr>
               <th>Название</th>
               <th>Описание</th>
               <th>Телефон</th>
               {% if acceptable %}<th></th>{% endif %}
                <th></th>
            </tr>
        {% for item in orders %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.content }}</td>
                <td>{{ item.phone }}</td>
                {% if acceptable %}
                <td>
                    <form action="{{  path('order_participate', { 'id': item.id }) }}" method="post">
                        <input type="submit" value="Пойти">
                    </form>
                </td>
                {% endif %}
                <td>
                    <form action="{{  path('order_view', { 'id': item.id }) }}" method="post">
                        <input type="submit" value="Подробнее">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
        <form action="{{ path('order_create') }}">
            <p>
                <input type="submit" value="Добавить мероприятие">
            </p>
        </form>
    </div>
    {% include 'common/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {% include 'common/css.html.twig' %}
{% endblock %}