<ul class="main-menu">
    <li class="main-menu-item">
        <a href="{{ path('main') }}">Главная</a>
    </li>
    {% if is_granted('ROLE_ADMIN') or not is_granted('IS_AUTHENTICATED_FULLY') %}
    <li class="main-menu-item">
        <a href="{{ path('about') }}">О нас</a>
    </li>
    {% endif %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <li class="main-menu-item">
        <a href="{{ path('login') }}">Войти</a>
    </li>
    <li class="main-menu-item">
        <a href="{{ path('user_registration') }}">Регистрация</a>
    </li>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li class="main-menu-item">
        <a href="{{ path('orders_list') }}">Мероприятия</a>
        <div class="submenu">
            <div><a href="{{ path('orders_list', { 'type': 'participate' }) }}">Пойду</a></div>
            <div><a href="{{ path('orders_list', { 'type': 'created' }) }}">Созданные</a></div>
        </div>
    </li>
    {#<li class="main-menu-item">#}
        {#<a href="{{ path('orders_list', { 'type': 'participate' }) }}">Пойду</a>#}
    {#</li>#}
    {#<li class="main-menu-item">#}
        {#<a href="{{ path('orders_list', { 'type': 'created' }) }}">Созданные</a>#}
    {#</li>#}
    <li class="main-menu-item">
        <a href="{{ path('user') }}">Личный кабинет</a>
    </li>
    <li class="main-menu-item">
        <a href="{{ path('logout') }}">Выход</a>
    </li>
    {% endif %}
</ul>